<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.zr.pojo.Users">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_birthday" jdbcType="DATE" property="userBirthday" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="mailbox" jdbcType="VARCHAR" property="mailbox" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="post" jdbcType="VARCHAR" property="post" />
  </resultMap>

  <select id="selectUsersInfo" resultMap="BaseResultMap">
    select * from users
    <where>
      <if test="users.userName != null and users.userName != ''">
        and  user_name = #{users.userName}
      </if>

      <if test="users.createTime != null and users.createTime != ''">
        and create_time &gt;= to_date(#{users.createTime}, 'yyyy-MM-dd')
      </if>
      <if test="users.updateTime != null and users.updateTime != ''">
        and update_time &lt; to_date(#{users.updateTime}, 'yyyy-MM-dd')
      </if>
    </where>
  </select>

</mapper>